click
# TODO: DO NOT MERGE. For testing purposes
google-api-core==2.17.1rc1
googleapis-common-protos
jinja2
MarkupSafe
protobuf
pypandoc
PyYAML
grpc-google-iam-v1
proto-plus
pytest-asyncio
libcst
inflection
