    {% if "rest" in opts.transport %}

    {% set async_prefix = "async " if opts.async_rest else "" %}
    {% set await_prefix = "await " if opts.async_rest else "" %}

    {% for name, sig in api.mixin_api_signatures.items() %} 
    @property
    def {{ name|snake_case }}(self):
        return self._{{ name }}(self._session, self._host, self._interceptor) # type: ignore
    
    class _{{ name }}(_Base{{ service.name }}RestTransport._Base{{name}}, {{service.name}}RestStub):
        {% if sig.response_type != 'None' %}
        {% set body_spec = api.mixin_http_options["{}".format(name)][0].body %}
        {{async_prefix ~ "def _get_response(self, body, host, metadata, query_params, session, timeout, transcoded_request):" | indent(4)}}
            uri = transcoded_request['uri']
            method = transcoded_request['method']
            headers = dict(metadata)
            headers['Content-Type'] = 'application/json'

            response = {{ await_prefix }}getattr(self._session, metadata, transcoded_request)(
                "{host}{uri}".format(host=host, uri=uri),
                timeout=timeout,
                headers=headers,
                params=rest_helpers.flatten_query_params(query_params),
                {% if body_spec %}
                data=body,
                {% endif %}
            )
            return response

        {% endif %} {# sig.response_type != 'None' #}
        
        {{async_prefix ~ "def __call__(self," | indent(4)}}
            request: {{ sig.request_type }}, *,
            retry: OptionalRetry=gapic_v1.method.DEFAULT,
            timeout: Optional[float]=None,
            metadata: Sequence[Tuple[str, str]]=(),
            ) -> {{ sig.response_type }}:

            r"""Call the {{- ' ' -}}
            {{ (name|snake_case).replace('_',' ')|wrap(
                    width=70, offset=45, indent=8) }}
            {{- ' ' -}} method over HTTP.

            Args:
                request ({{ sig.request_type }}):
                    The request object for {{ name }} method.
                retry (google.api_core.retry.Retry): Designation of what errors, if any,
                    should be retried.
                timeout (float): The timeout for this request.
                metadata (Sequence[Tuple[str, str]]): Strings which should be
                    sent along with the request as metadata.
            {% if sig.response_type != 'None' %}

            Returns:
                {{ sig.response_type }}: Response from {{ name }} method.
            {% endif %}
            """
            http_options = _{{ name }}._get_http_options()
            request, metadata = self._interceptor.pre_{{ name|snake_case }}(request, metadata)
            transcoded_request = self._get_transcoded_request(http_options, request)

            {% set body_spec = api.mixin_http_options["{}".format(name)][0].body %}
            {%- if body_spec %}
            body = _get_request_body_json(transcoded_request)
            {% endif %} {# body_spec #}

            # Jsonify the query params
            query_params = json.loads(json.dumps(transcoded_request['query_params']))

            # Send the request
            response = {{ await_prefix }}self._get_response(body, self._host, metadata, query_params, self._session, timeout, transcoded_request)

            # In case of error, raise the appropriate core_exceptions.GoogleAPICallError exception
            # subclass.
            if response.status_code >= 400:
                raise core_exceptions.from_http_response(response)
            
            {% if sig.response_type == "None" %}
            return self._interceptor.post_{{ name|snake_case }}(None)
            {% else %}
            
            resp = {{ sig.response_type }}()
            resp = json_format.Parse(response.content.decode("utf-8"), resp)
            resp = self._interceptor.post_{{ name|snake_case }}(resp)
            return resp
            {% endif %}

    {% endfor %}
    {% endif %} {# rest in opts.transport #}
