{% extends '_base.py.j2' %}

{% block content %}

{% set protobuf_pythonic_types_enabled = api.all_library_settings[api.naming.proto_package].python_settings.experimental_features.protobuf_pythonic_types_enabled %}

{% if not protobuf_pythonic_types_enabled %}
{% for _, proto in api.protos|dictsort if proto.file_to_generate and proto.messages or proto.enums %}
from .{{proto.module_name }} import (
  {% for _, message in proto.messages|dictsort %}
    {{message.name }},
  {% endfor %}
  {% for _, enum in proto.enums|dictsort %}
    {{ enum.name }},
  {% endfor %}
)
{% endfor %}

__all__ = (
  {% for _, proto in api.protos|dictsort if proto.file_to_generate %}
  {% for _, message in proto.messages|dictsort %}
    '{{ message.name }}',
  {% endfor %}
  {% for _, enum in proto.enums|dictsort %}
    '{{ enum.name }}',
  {% endfor %}
  {% endfor %}
)

{% endif %}{# not protobuf_pythonic_types_enabled #}

{% endblock %}
