class {{ enum.name }}({{ p }}.Enum):
    r"""{{ enum.meta.doc|rst(indent=4) }}"""
    {% if submodule_magic is defined %}
    __module__ = __module__.rsplit('.', maxsplit=1)[0]
    {% endif %}
    {% if enum.enum_pb.HasField("options") %}
    _pb_options = {{ enum.options_dict }}
    {% endif %}
    {% for enum_value in enum.values %}
    {{ enum_value.name }} = {{ enum_value.number }}
    {% endfor %}
{{ '\n\n' }}
