{% extends '_base.py.j2' %}

{% block content %}

import os
import setuptools  # type: ignore

package_root = os.path.abspath(os.path.dirname(__file__))

version = {}
with open(os.path.join(package_root, '{{ api.naming.module_namespace|join("/") }}/{{ api.naming.module_name }}/version.py')) as fp:
    exec(fp.read(), version)
version = version["__version__"]

{% if api.naming.namespace %}
packages = [
    package
    for package in setuptools.PEP420PackageFinder.find()
    if package.startswith("google")
]

namespaces = ['{{ api.naming.module_namespace|join('.') }}', '{{ api.naming.module_namespace|join('.') }}.{{ api.naming.module_name }}']
if "google.cloud" in packages:
    namespaces.append("google.cloud")
{% endif %}

setuptools.setup(
    name='{{ api.naming.warehouse_package_name }}',
    version=version,
    {% if api.naming.namespace %}
    packages=packages,
    namespace_packages=namespaces,
    {% else %}
    packages=setuptools.find_packages(),
    {% endif %}
    platforms='Posix; MacOS X; Windows',
    include_package_data=True,
    install_requires=(
        {# TODO(dovs): remove when 1.x deprecation is complete #}
        {% if 'rest' in opts.transport %}
        'google-api-core[grpc] >= 2.4.0, < 3.0.0dev',
        {% else %}
        'google-api-core[grpc] >= 1.28.0, < 3.0.0dev',
        {% endif %}
        'googleapis-common-protos >= 1.53.0',
        'grpcio >= 1.10.0',
        'proto-plus >= 1.19.4',
    {% if api.requires_package(('google', 'iam', 'v1')) %}
        'grpc-google-iam-v1',
    {% endif %}
    ),
    python_requires='>=3.7',{# Lazy import requires module-level getattr #}
    setup_requires=[
        'libcst >= 0.2.5',
    ],
    scripts=[
        'scripts/fixup_{{ api.naming.versioned_module_name }}_keywords.py',
    ],
    classifiers=[
        'Development Status :: 3 - Alpha',
        'Intended Audience :: Developers',
        'Operating System :: OS Independent',
        'Programming Language :: Python :: 3.7',
        'Programming Language :: Python :: 3.8',
        'Programming Language :: Python :: 3.9',
        'Programming Language :: Python :: 3.10',
        'Topic :: Internet',
        'Topic :: Software Development :: Libraries :: Python Modules',
    ],
    zip_safe=False,
)
{% endblock %}
