{% extends '_base.py.j2' %}

{% block content %}

import setuptools # type: ignore

name = '{{ api.naming.warehouse_package_name }}'
description = '{{ api.naming.warehouse_package_name }}',
version = '0.0.1',
dependencies = [
    {# TODO(dovs): remove when 1.x deprecation is complete #}
    {% if 'rest' in opts.transport %}
    'google-api-core[grpc] >= 2.4.0, < 3.0.0dev',
    {% else %}
    'google-api-core[grpc] >= 1.28.0, < 3.0.0dev',
    {% endif %}
    'googleapis-common-protos >= 1.53.0',
    'grpcio >= 1.10.0',
    'proto-plus >= 1.19.4',
    {% if api.requires_package(('google', 'iam', 'v1')) %}
        'grpc-google-iam-v1',
    {% endif %}
]

packages = [
    package
    for package in setuptools.PEP420PackageFinder.find()
    if package.startswith("google")
]

namespaces = ["google"]
if "google.cloud" in packages:
    namespaces.append("google.cloud")

setup = [
    'libcst >= 0.2.5',
]

scripts=[
    'scripts/fixup_{{ api.naming.versioned_module_name }}_keywords.py',
]

setuptools.setup(
    name=name,
    version=version,
    classifiers=[
        release_status,
        "Intended Audience :: Developers",
        "License :: OSI Approved :: Apache Software License",
        "Programming Language :: Python :: 3.6",
        "Programming Language :: Python :: 3.7",
        "Programming Language :: Python :: 3.8",
        "Programming Language :: Python :: 3.9",
        "Programming Language :: Python :: 3.10",
        "Operating System :: OS Independent",
        "Topic :: Internet",
    ],
    platforms="Posix; MacOS X; Windows",
    {% if api.naming.namespace %}
    packages=packages,
    namespace_packages=namespaces,
    {% else %}
    packages=setuptools.find_packages(),
    {% endif %}
    python_requires='>=3.7',{# Lazy import requires module-level getattr #}
    setup_requires=setup
    scripts=scripts
    install_requires=dependencies,
    include_package_data=True,
    zip_safe=False,
)
{% endblock %}
