{% extends '_base.py.j2' %}
{% block content %}

__version__ = "{% if api.naming.gapic_version %}{{ api.naming.gapic_version }}{% else %}0.0.0{% endif %}"  # {x-release-please-version}
{% endblock %}
