Client for {{ api.naming.long_name }} API
===============================================

.. automodule:: {{ api.naming.namespace|join('.')|lower }}.{{ api.naming.versioned_module_name }}
    :members:
    :inherited-members:
