{% extends "_base.py.j2" %}

{% block content %}

[flake8]
ignore = E501 # ignore E501 `line too long`
exclude =
  # Exclude protobuf gencode.
  *_pb2.py*

  # Standard linting exemptions.
  **/.nox/**
  __pycache__,
  .git,
  *.pyc,
  conf.py

{% endblock %}
