<!--
Dict of PyPI packages available by API in the form <tuple>, <tuple>
Where the first <tuple> contains the API and the second tuple contains the
PyPI package name, the minimum allowed version and the maximum allowed version.
-->
{% set pypi_packages = dict([
    (("google", "apps", "script", "type"), ("google-apps-script-type", "0.2.0", "1.0.0dev")),
    (("google", "cloud", "documentai", "v1"), ("google-cloud-documentai", "1.2.1", "3.0.0dev")),
    (("google", "cloud", "kms", "v1"), ("google-cloud-kms", "2.3.0, <3.0.0dev")),
    (("google", "iam", "v1"), ("grpc-google-iam-v1", "0.12.4", "1.0.0dev")),
]) %}