.. include:: README.rst

.. include:: multiprocessing.rst


API Reference
-------------
.. toctree::
    :maxdepth: 2
    
    {{ api.naming.versioned_module_name }}/services_
    {{ api.naming.versioned_module_name }}/types_
{% for api_version in api.naming.non_default_versions %}
API Reference
-------------
.. toctree::
    :maxdepth: 2
    
    {{ api_version }}/services_
    {{ api_version }}/types_
{% endfor %}

Changelog
---------

For a list of all ``{{ api.naming.warehouse_package_name }}`` releases:

.. toctree::
    :maxdepth: 2

    CHANGELOG

.. toctree::
  :hidden:
{% if api.naming.module_namespace|length >= 2 and api.naming.module_namespace[0] == "google" and api.naming.module_namespace[1] == "cloud" %}

  summary_overview.md
{% endif %}
