# -*- coding: utf-8 -*-
# This constraints file is required for unit tests.
# List all library dependencies and extras in this file.
# For testing purposes
google-api-core==2.19.0rc0
proto-plus
protobuf
google-cloud-access-context-manager
google-cloud-os-config
grpc-google-iam-v1
